	.mid
		{
		width:1000px;
		left:200px;
		position:absolute;
		margin-top: 20px;
		}
	div.list1{
		border:1px solid #ccc;
		}
	div.list1:hover
		{
		 border: 1px solid #777;
		}
	
	div.des {
   		 display:inline;
   		 text-align: center;
		}
	
	
	.products {
    		padding: 0px 6px;
    		float: left;
   		
		margin:20px;
		}
	#des_1,#des_2,#des_3,#des_4,#des_5,#des_6 {
		text-align:center;
	}
		
		
